unpackage
node_modules/
coverage
static/common/*

dist/
/log/
!.vuepress

uni_modules/
miniprogram_npm/
packages/tdesign/npm/
packages/tdesign-uniapp-chat/npm/

*.html
!.stylelintrc.js
